/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/


body {
  background: url('assets/burger-friends.jpg');
  background-size: cover;
  margin: 0;
  font-family: 'Roboto bold', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background: #0fb9b1;
  font-size: 3vh;
  font-weight: bold;
  height: 1.5vh;
  padding: 2vw;
}

.wrapper {
  display: flex;
  margin-top: 2vh;
  justify-content: space-around;
  padding: 2vw;
}

.contentPane {
  background: rgba(225, 225, 225, .9);
  height: 35vh;
  min-height: 125px;
  max-height: 400px;
  width: 30vw;
  min-width: 140px;
  max-width: 500px;
}

.question {
  margin-top: 5vh;
  font-size: 3.5vh;
}

#userSelections {
  padding: 3.5vw;
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
  justify-content: space-around;
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choices > section {
  margin: 0.5vh;
  margin-bottom: 1vh;
}

input[type='radio'] {
  /* width: 1.5em; */
  width:calc(2px + 1vw * 1vh);
}

label {
  font-size: 3vh;
  margin-left: 0.25vw;
}

.button-and-label {
  display: flex;
  align-items: center;
}

#results-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5vw;
  /* align-items: center; */
}

.results {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 3vw;
}

.meal-component {
  margin: 0.25vw;
  float: left;
}

.superscript {
  color: red;
  position: relative;
  bottom: 0.5vh;
}

.keep-together {
  white-space: nowrap;
}

.lets-cook-button {
  background-color: #0fb9b1;
  border: none;
  border-radius: 3px;
  width: 16vw;
  min-width: 100px;
  height: 5vh;
  max-height: 100px;
  font-size: 2vh;
  text-transform: uppercase;
}

.cookpot {
  width: 30%;
  height: auto;
  /* align-self: center; */
}

.you-should-make-food {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.you-should-make {
  font-size: 2.5vh;
  font-weight: normal;
  font-style: italic;
  padding: 2vh;
  margin: 0;
  text-align: center;
}

.display-food {
  font-size: 4vh;
  margin: 0;
  text-align: center;
}

.clear-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.clear-button {
  background-color: #95a5a6;
  color: white;
  border: none;
  border-radius: 3px;
  width: 6vw;
  min-width: 40px;
  height: 5vh;
  max-height: 100px;
  font-size: 2vh;
  text-transform: uppercase;
}

.hidden {
  display: none;
}
